*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background-image:home/sean/WebDevs/HTML5/images/background1.jpg;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color:green;
    font-weight: 500;
}
nav:hover{
    background: pink;
}
nav:hover ul li a{
    color: black;
}
.content{
    margin-top: 9%;
    margin-left:4%;
    color:black;
}
.content h1{
    font-size: 25px;
    line-height: 50px;
    font-weight: 0;
}